<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="/lib/moment.min.js"></script>
</head>

<body style="width: 500px;">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome</p>
    <a id="logout" class="btn btn-secondary">Logout</a>
</body>
<script type="module" src="/js/dashboard.js"></script>
</html>